/* Importar fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: 
    linear-gradient(135deg, rgba(243, 231, 255, 0.8), rgba(179, 139, 243, 0.8)), 
    url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    background-size: cover, auto;
    background-attachment: fixed;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-busqueda {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    gap: 10px;
}

#busqueda {
    width: 350px;
}

/* Footer */
.main-footer {
    background: linear-gradient(135deg, #433082, #6C3082);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.sobre-footer {
    background-color: #f8f9fa;
    padding: 5px;
    text-align: center;
}

.sobre-footer h5, 
.sobre-footer h3 {
    color: #333;
}

.sobre-footer p {
    max-width: 800px;
    margin: 10px auto;
    color: #555;
}

.sobre-footer ul {
    list-style-type: none;
    padding: 0;
}

.sobre-footer ul li {
    margin: 5px 0;
}

.layout {
    display: flex;
    gap: 80px;
}

/* Contenedor separado para el menú */

.sidebar {
    width: 20%;
    padding: 15px;
    margin-left: 100px; 
    border-radius: 12px;
    position: sticky;
    top: 20px;
    height: fit-content;
}

.sidebar .container{
    width: 100%;
    background: white;
    padding: 45px;
    border-radius: 12px;
    top: 20px;
    height: fit-content;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1500px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    flex: 1;
}

/* Botones */
button, #btnBuscar, #btnCarrito, #btnTodos, #btnRopa, #btnTecnologia, #btnComida, #btnLimpiarBusqueda, #btnCerrarCarrito, #btnCerrarLogin, btnCerrarRegister #btnVaciarCarrito {
    background: linear-gradient(135deg, #82306F, #433082);
    color: white;
    border: none;
    padding: 6px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#btnLimpiarBusqueda, #btnBuscar {
    font-size: 18px;
}

button:hover {
    background: linear-gradient(135deg, #433082, #6C3082);
    transform: translateY(-3px);
    color: #ffffff;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

#btnCarrito:hover, #btnBuscar:hover, #btnLimpiarBusqueda:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Contenedor de productos */
#listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de productos */
.product-card {
    background: white;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.tipoP, .precioP, .disponibleP {
    font-size: 13px;
    color: #433082;
    font-weight: 600;
}

.txtProducto {
    font-size: 16px;
    color: #6C3082;
}

/* Tablas */
table {
    width: 100%;
    margin-top: 20px;
    background: #fff;
    border-radius: auto;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    font-weight: 600;
}

/* Inputs y formularios */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #6C3082;
    box-shadow: 0px 0px 6px rgba(108, 48, 130, 0.5);
    outline: none;
}

/* Navegación de categorías */
#categoriasNav {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.txtNav, .txtListado {
    font-size: 30px;
    color: #433082;
}

#btnLoginModal, #btnRegisterModal, #btnLogout {
    background: linear-gradient(135deg, #82306F, #433082);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.txtopacity {
    font-style: italic;
    opacity: 0.7;
}
