/* Importar fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: 
    url("https://www.transparenttextures.com/patterns/carbon-fibre.png"),
    radial-gradient(at 47% 33%, hsl(283.90, 46%, 35%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(253.90, 46%, 35%) 0, transparent 55%),
    radial-gradient(at 18% 65%, hsl(253.90, 46%, 35%) 0, transparent 55%);
    background-position: center;
    background-attachment: fixed;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-busqueda {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    gap: 10px;
}

#busqueda {
    width: 350px;
}

/* Footer */
.main-footer {
    background: linear-gradient(135deg,#6C3082,#433082);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.sobre-footer {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: #ffffff;
    padding: 15px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 370px;
}

.sobre-footer .text{
    color: #ffffff
}

.sobre-footer h5, 
.sobre-footer h3 {
    color: #333;
}

.sobre-footer p {
    max-width: 800px;
    margin: 10px auto;
    color: #555;
}

.sobre-footer ul {
    list-style-type: none;
    padding: 0;
}

.sobre-footer ul li {
    margin: 5px 0;
}

.layout {
    display: flex;
    gap: 80px;
}

/* Contenedor separado para el menú */

.sidebar {
    width: 20%;
    padding: 15px;
    margin-left: 100px; 
    border-radius: 12px;
    position: sticky;
    top: 20px;
    height: fit-content;
}

.sidebar .container{
    width: 100%;
    background: white;
    padding: 45px;
    border-radius: 12px;
    top: 20px;
    height: fit-content;
}

/* Contenedor principal */
.container {
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(46, 52, 63, 0.20);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    max-width: 1192px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px;
    transition: transform 0.2s ease-in-out;
    flex: 1;
}

/* Botones */
button, #btnBuscar, #btnCarrito, #btnTodos, #btnRopa, #btnTecnologia, #btnComida, #btnLimpiarBusqueda, #btnCerrarLogin, #btnLogin, #btnRegister, #btnCerrarRegister, #btncerrarCarrito, #btnVaciarCarrito, #btbBorrarElementoCarrito, #btnAgregarProducto, #btnEditarProducto, #btnEliminarProducto {
    background: linear-gradient(135deg, #82306F, #433082);
    color: white;
    border: none;
    padding: 6px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#btnLimpiarBusqueda, #btnBuscar {
    font-size: 18px;
}

button:hover {
    background: linear-gradient(135deg, #433082, #6C3082);
    transform: translateY(-3px);
    color: #ffffff;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

#btnCarrito:hover, #btnBuscar:hover, #btnLimpiarBusqueda:hover, #btnLogin:hover, #btnCerrarLogin:hover, #btnRegister:hover, #btnCerrarRegister:hover, #btncerrarCarrito:hover, #btnVaciarCarrito:hover, #btbBorrarElementoCarrito:hover, #btnAgregarProducto:hover, #btnEditarProducto:hover, #btnEliminarProducto:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

.table-responsive {
    max-width: fit-content;
}

#productosSection {
    display: block;
    max-width: fit-content;
}

/* Contenedor de productos */
#listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de productos */
.product-card {
    background: white;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.tipoP, .precioP, .disponibleP {
    font-size: 13px;
    color: #433082;
    font-weight: 600;
}

.txtProducto {
    font-size: 16px;
    color: #6C3082;
}

#tablaCarrito, #tablaAdmin {
    min-width: 766px;
    max-width: fit-content;
}

table {
    width: 100%;
    max-width: fit-content;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    font-weight: 600;
}

/* Inputs y formularios */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #6C3082;
    box-shadow: 0px 0px 6px rgba(108, 48, 130, 0.5);
    outline: none;
}

/* Navegación de categorías */
#categoriasNav {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.txtNav {
    font-size: 25px;
    color: #433082;
}

.txtListado {
    font-size: 40px;
    color: #ffffff;
}

#btnLoginModal, #btnRegisterModal, #btnLogout, #btnCarritoModal {
    background: linear-gradient(135deg, #82306F, #433082);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: linear-gradient(135deg, #6C3082, #433082);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.txtopacity {
    font-style: italic;
    color: #ccc;
}

#adminCrud, #form, .text-center {
    color: #ffffff;
}
